# ExamVault Frontend Configuration (Vite)

# Backend API proxy URL (default relative /api/paper via Vite dev proxy)
VITE_API_URL=/api/paper

# Sepolia RPC URL
VITE_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

# Deployed ExamVault Smart Contract on Sepolia
VITE_CONTRACT_ADDRESS=0xBf5dBf0480F43f96f64F5B3dBC9335EA48c30326
